.jumbotron {
    background: linear-gradient(to right, #557e99, #316385)
}

.header {
    /* background-color: #25237c; */
    background: repeating-linear-gradient(#1e1b75, #383497, #8181be);
    height: 90%;
    width: 100%;
}

.header h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Rajdhani';
    letter-spacing: 8px;
}

#leftImg {
    float: left;
    width: 12%;
}

#rightImg {
    float: right;
    width: 12%;
}

#userInput {
    width: 175px;
}

.user-search {
    margin-bottom: 10px;
}

.submitBtn {
    border: 1px solid #000000
} 

.giphyDiv {
    display: inline-block;
    margin: 10px;
}

#person-btn {
    margin: 3px;
    font-family: 'Bree Serif';
}

body {
    font-family: 'Bree Serif'; 
}

p {
    font-family: 'Unica One';
    font-size: 20px;
}

@media (max-width: 400px) {
    #leftImg, #rightImg {
        display: none;
    }
}
/* @media (max-width: @screen-xs-max) { ... }

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... } */